# Rename this file to .env (do not commit .env to GitHub)

# For LLM generation (If you choose OpenAI)
OPENAI_API_KEY=your_openai_api_key_here

# For Open Source Models via HuggingFace (If you prefer free/open-source)
HUGGINGFACEHUB_API_TOKEN=your_hf_token_here
